{% include 'top.html' %}
<div class="content">
    <div class="container">
        <h1 class="title">My Bookings</h1>
        <table class="styled" id="booking_list_table">
        <thead>
            <tr>
                <th>Car Registration</th>
                <th>Car Name</th>
                <th>Date</th>
                <th>Time</th>
                <th></th>
            </tr>
        </thead>
        {% if bookings %}
        <tbody>
            {% for item in bookings %}
            <tr class="clickable-tr" data-href="{{url_for('my_bookings')}}?regno={{item[0]}}&b_date={{item[2]}}&b_hour={{item[3]}}">
                <td><a href="{{url_for('list_cars')}}?car={{ item[0] }}">{{ item[0] }}</a></td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td><script>document.write(Math.round({{ item[3] }}))</script>:00</td>
                <td><a class="booking-detail-button" href="{{url_for('my_bookings')}}?regno={{item[0]}}&b_date={{item[2]}}&b_hour={{item[3]}}">View Details</a></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {% else %}
        </table>
        <h1 class="t-cent">You haven't made any bookings</h1>
        {% endif %}
    </div>
</div>
{% include 'bottom.html' %}
