{% include 'top.html' %}
<div class="content">
    <div class="container">
        <h1 class="title">My Bookings</h1>
        <table class="styled" id="booking_list_table">
        <thead>
            <tr>
                <th>User</th>
                <th>Frequency Rating</th>
                <th>Recency Rating</th>
                <th>Type</th>
                <th></th>
            </tr>
        </thead>
        {% if analysis %}
        <tbody>
            {% for item in analysis %}
            <tr {% if item[0] == user %} class="user-tr"{% endif %}>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {% else %}
        </table>
        <h1 class="t-cent">There are no members</h1>
        {% endif %}
    </div>
</div>
{% include 'bottom.html' %}
